:root {
    --blue-color: #74CEF2;
    --blue-light-color: #C3E6F9;
    --blue-dark-color: #0B2C5D;
    --red-color: #D21420;
    --yellow-color: #FCB712;
    --white-color: #FFFFFF;
    --gray-light-color: #F3F0EC;
    --gray-color: #B9B9B9;
    --gray-dark-color: #4C4C4C;
    --black-color: #000000;
}