/* -- AMBIT FONT --*/

@font-face {
    font-family: 'Ambit-Regular';
    src: url(../font/Ambit-Regular.woff);
}

@font-face {
    font-family: 'Ambit-Italic';
    src: url(../font/Ambit-Italic.woff);
}

@font-face {
    font-family: 'Ambit-Semibold';
    src: url(../font/Ambit-Semibold.woff);
}

@font-face {
    font-family: 'Ambit-SemiboldItalic';
    src: url(../font/Ambit-SemiboldItalic.woff);
}

@font-face {
    font-family: 'Ambit-Bold';
    src: url(../font/Ambit-Bold.woff);
}

@font-face {
    font-family: 'Ambit-BoldItalic';
    src: url(../font/Ambit-BoldItalic.woff);
}


/* -- TUITYPE FONT --*/

@font-face {
    font-family: 'TUIType-Regular';
    src: url(../font/TUITypeLt_LATN_W_Rg.woff);
}

@font-face {
    font-family: 'TUIType-Italic';
    src: url(../font/TUITypeLt_LATN_W_It.woff);
}

@font-face {
    font-family: 'TUIType-Bold';
    src: url(../font/TUITypeLt_LATN_W_Bd.woff);
}

@font-face {
    font-family: 'TUIType-BoldItalic';
    src: url(../font/TUITypeLt_LATN_W_BdIt.woff);
}

