nav.navigation-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    position: relative;

    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--blue-light-color);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li:first-child {
            display: block;
        }
    }

    li {
        margin-bottom: 10px;

        &:first-child a {
            font-family: 'TUIType-Bold';
            font-size: 2rem;
            color: var(--red-color);
        }
    }

    a {
        transition: all ease 0.2s;

        &:hover {
            color: var(--gray-color);
        }
    }

    img {
        width: 30px;
        height: auto;
        display: inline;
    }

    button {
        background-color: var(--blue-color);
        transition: all ease 0.3s;

        &:hover {
            background-color: var(--blue-dark-color);
        }

        img {
            height: 15px;
        }
    }

    .nieuwsbrief p {
        margin-bottom: 1.5rem;
    }
}

.img-horizontal li {
    display: inline-block;
}

#footerbar {
    background-color: var(--blue-color);
    padding: 1.2rem;
    text-align: right;
    position: relative;

    .awards {
        width: 200px;
        height: auto;

        position: absolute;
        margin: auto auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    img {
        height: 1.5rem;
        margin-right: 1.5rem;
        transition: all ease 0.3s;
    }
}