:root {
  --blue-color: #74CEF2;
  --blue-light-color: #C3E6F9;
  --blue-dark-color: #0B2C5D;
  --red-color: #D21420;
  --yellow-color: #FCB712;
  --white-color: #FFFFFF;
  --gray-light-color: #F3F0EC;
  --gray-color: #B9B9B9;
  --gray-dark-color: #4C4C4C;
  --black-color: #000000;
}

nav.navigation-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  position: relative;
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--blue-light-color);
}
nav.navigation-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.navigation-footer ul li:first-child {
  display: block;
}
nav.navigation-footer li {
  margin-bottom: 10px;
}
nav.navigation-footer li:first-child a {
  font-family: "TUIType-Bold";
  font-size: 2rem;
  color: var(--red-color);
}
nav.navigation-footer a {
  transition: all ease 0.2s;
}
nav.navigation-footer a:hover {
  color: var(--gray-color);
}
nav.navigation-footer img {
  width: 30px;
  height: auto;
  display: inline;
}
nav.navigation-footer button {
  background-color: var(--blue-color);
  transition: all ease 0.3s;
}
nav.navigation-footer button:hover {
  background-color: var(--blue-dark-color);
}
nav.navigation-footer button img {
  height: 15px;
}
nav.navigation-footer .nieuwsbrief p {
  margin-bottom: 1.5rem;
}

.img-horizontal li {
  display: inline-block;
}

#footerbar {
  background-color: var(--blue-color);
  padding: 1.2rem;
  text-align: right;
  position: relative;
}
#footerbar .awards {
  width: 200px;
  height: auto;
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#footerbar img {
  height: 1.5rem;
  margin-right: 1.5rem;
  transition: all ease 0.3s;
}

/* -- AMBIT FONT --*/
@font-face {
  font-family: "Ambit-Regular";
  src: url(../font/Ambit-Regular.woff);
}
@font-face {
  font-family: "Ambit-Italic";
  src: url(../font/Ambit-Italic.woff);
}
@font-face {
  font-family: "Ambit-Semibold";
  src: url(../font/Ambit-Semibold.woff);
}
@font-face {
  font-family: "Ambit-SemiboldItalic";
  src: url(../font/Ambit-SemiboldItalic.woff);
}
@font-face {
  font-family: "Ambit-Bold";
  src: url(../font/Ambit-Bold.woff);
}
@font-face {
  font-family: "Ambit-BoldItalic";
  src: url(../font/Ambit-BoldItalic.woff);
}
/* -- TUITYPE FONT --*/
@font-face {
  font-family: "TUIType-Regular";
  src: url(../font/TUITypeLt_LATN_W_Rg.woff);
}
@font-face {
  font-family: "TUIType-Italic";
  src: url(../font/TUITypeLt_LATN_W_It.woff);
}
@font-face {
  font-family: "TUIType-Bold";
  src: url(../font/TUITypeLt_LATN_W_Bd.woff);
}
@font-face {
  font-family: "TUIType-BoldItalic";
  src: url(../font/TUITypeLt_LATN_W_BdIt.woff);
}
nav.navigation-header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: var(--blue-color);
  z-index: 1;
}
nav.navigation-header ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav.navigation-header li {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  background-color: var(--blue-color);
  transition: all ease 0.2s;
  padding: 1rem 2rem;
  vertical-align: center;
  height: 70px;
  overflow-y: hidden;
}
nav.navigation-header li:first-child {
  padding: 0;
}
nav.navigation-header li:hover {
  background-color: var(--blue-light-color);
}
nav.navigation-header li:hover:first-child {
  background-color: var(--blue-color);
}
nav.navigation-header li a {
  font-family: "TUIType-Regular";
}
nav.navigation-header .logo {
  width: 3rem;
}
nav.navigation-header .flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
nav.navigation-header span {
  vertical-align: middle;
  margin-right: 8px;
}
nav.navigation-header ul li:first-child {
  margin-right: auto;
}

.material-symbols-outlined {
  color: var(--blue-dark-color);
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Ambit-Bold", Arial, Verdana, sans-serif;
  text-decoration: none;
  color: var(--blue-dark-color);
}

a,
form,
label {
  font-family: "Ambit-Regular", Arial, Verdana, sans-serif;
  text-decoration: none;
  color: var(--blue-dark-color);
}

p {
  font-family: "TUIType-Regular", Arial, Verdana, sans-serif;
  color: var(--blue-dark-color);
}

button {
  font-family: "TUIType-Bold";
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

#searching {
  display: grid;
  width: 100vw;
  height: auto;
  position: relative;
  margin-top: 70px;
}
#searching img {
  width: 100vw;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

#searching .search {
  width: 95%;
  max-width: 1500px;
  margin: auto auto;
  margin-top: -7rem;
}
#searching .search ul {
  display: flex;
  margin-bottom: 0.5rem;
}
#searching .search li {
  padding: 1rem 2rem;
  background-color: var(--blue-light-color);
  transition: all ease 0.2s;
}
#searching .search li:hover {
  background-color: var(--blue-color);
}
#searching .search li a {
  font-family: "TUIType-Bold";
  text-transform: uppercase;
}
#searching .search li:first-child {
  background-color: var(--blue-color);
}
#searching .search li:first-child a {
  color: var(--red-color);
  border-bottom: 2px solid var(--red-color);
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--blue-color);
  border-radius: 10px;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 2px solid var(--gray-light-color);
  border-radius: 10px;
  outline: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 1rem;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 10px;
  cursor: pointer;
  align-self: end;
  transition: all ease 0.3s;
}
button:hover {
  background-color: var(--blue-dark-color);
}
button .material-symbols-outlined {
  color: var(--white-color);
  margin-right: 0.5rem;
}

#searching .vakantietypes {
  text-align: center;
  background-color: var(--white-color);
  margin-top: 1rem;
}
#searching .vakantietypes ul {
  display: flex;
  justify-content: center;
}
#searching .vakantietypes li {
  display: inline-block;
  margin: 0rem 1rem;
}
#searching .vakantietypes li a:hover {
  text-decoration: none;
}
#searching .vakantietypes li .type {
  font-family: "TUIType-Bold";
  font-size: 18px;
}
#searching .vakantietypes li .number {
  font-size: 12px;
  color: var(--gray-color);
}
#searching .vakantietypes span {
  display: block;
}
#searching .vakantietypes .line {
  width: 95%;
  height: 2px;
  max-width: 1500px;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--gray-light-color);
  display: block;
}

#resultaten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  position: relative;
  margin-top: 3rem;
}
#resultaten h2 {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}
#resultaten h2 span {
  display: block;
  font-size: 1rem;
  color: var(--red-color);
}
#resultaten .filters {
  background-color: blue;
  width: 400px;
}
#resultaten .filters h3 {
  padding: 1rem;
  background-color: var(--blue-light-color);
}
#resultaten .filters article {
  background-color: var(--gray-light-color);
}
#resultaten .filters article p {
  text-align: center;
  margin-bottom: 1rem;
}
#resultaten .filters article .slider-container {
  padding: 1rem;
}
#resultaten .filters article .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
}
#resultaten .filters article .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  cursor: pointer;
}
#resultaten .filters article .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  cursor: pointer;
}
#resultaten .filters article .slider-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#resultaten .filters article .slider-labels span {
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
  color: #999;
}
#resultaten .vakantie-resultaten {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50%, 300px), 1fr));
  gap: 1rem;
  background-color: red;
}/*# sourceMappingURL=style.css.map */