@charset "UTF-8";
:root {
  --blue-color: #74CEF2;
  --blue-light-color: #C3E6F9;
  --blue-dark-color: #0B2C5D;
  --red-color: #D21420;
  --yellow-color: #FCB712;
  --white-color: #FFFFFF;
  --gray-light-color: #F3F0EC;
  --gray-color: #B9B9B9;
  --gray-dark-color: #4C4C4C;
  --black-color: #000000;
}

nav.navigation-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  position: relative;
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--blue-light-color);
}
nav.navigation-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.navigation-footer ul li:first-child {
  display: block;
}
nav.navigation-footer li {
  margin-bottom: 10px;
}
nav.navigation-footer li:first-child a {
  font-family: "TUIType-Bold";
  font-size: 2rem;
  color: var(--red-color);
}
nav.navigation-footer a {
  transition: all ease 0.2s;
}
nav.navigation-footer a:hover {
  color: var(--gray-color);
}
nav.navigation-footer img {
  width: 30px;
  height: auto;
  display: inline;
}
nav.navigation-footer button {
  background-color: var(--blue-color);
  transition: all ease 0.3s;
}
nav.navigation-footer button:hover {
  background-color: var(--blue-dark-color);
}
nav.navigation-footer button img {
  height: 15px;
}
nav.navigation-footer .nieuwsbrief p {
  margin-bottom: 1.5rem;
}

.img-horizontal li {
  display: inline-block;
}

#footerbar {
  background-color: var(--blue-color);
  padding: 1.2rem;
  text-align: right;
  position: relative;
}
#footerbar .awards {
  width: 200px;
  height: auto;
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#footerbar img {
  height: 1.5rem;
  margin-right: 1.5rem;
  transition: all ease 0.3s;
}

/* -- AMBIT FONT --*/
@font-face {
  font-family: "Ambit-Regular";
  src: url(../font/Ambit-Regular.woff);
}
@font-face {
  font-family: "Ambit-Italic";
  src: url(../font/Ambit-Italic.woff);
}
@font-face {
  font-family: "Ambit-Semibold";
  src: url(../font/Ambit-Semibold.woff);
}
@font-face {
  font-family: "Ambit-SemiboldItalic";
  src: url(../font/Ambit-SemiboldItalic.woff);
}
@font-face {
  font-family: "Ambit-Bold";
  src: url(../font/Ambit-Bold.woff);
}
@font-face {
  font-family: "Ambit-BoldItalic";
  src: url(../font/Ambit-BoldItalic.woff);
}
/* -- TUITYPE FONT --*/
@font-face {
  font-family: "TUIType-Regular";
  src: url(../font/TUITypeLt_LATN_W_Rg.woff);
}
@font-face {
  font-family: "TUIType-Italic";
  src: url(../font/TUITypeLt_LATN_W_It.woff);
}
@font-face {
  font-family: "TUIType-Bold";
  src: url(../font/TUITypeLt_LATN_W_Bd.woff);
}
@font-face {
  font-family: "TUIType-BoldItalic";
  src: url(../font/TUITypeLt_LATN_W_BdIt.woff);
}
nav.navigation-header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: var(--blue-color);
  z-index: 1;
}
nav.navigation-header ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav.navigation-header li {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  background-color: var(--blue-color);
  transition: all ease 0.2s;
  padding: 1rem 2rem;
  vertical-align: center;
  height: 70px;
  overflow-y: hidden;
}
nav.navigation-header li:first-child {
  padding: 0;
  position: absolute;
  left: 2rem;
}
nav.navigation-header li:last-child {
  margin-right: 1rem;
}
nav.navigation-header li:hover {
  background-color: var(--blue-light-color);
}
nav.navigation-header li:hover:first-child {
  background-color: var(--blue-color);
}
nav.navigation-header li a {
  font-family: "TUIType-Regular";
}
nav.navigation-header .logo {
  width: 3rem;
}
nav.navigation-header .flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
nav.navigation-header span {
  vertical-align: middle;
  margin-right: 8px;
}
nav.navigation-header ul li:first-child {
  margin-right: auto;
}

.material-symbols-outlined {
  color: var(--blue-dark-color);
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,
label,
button {
  font-family: "Ambit-Bold", Arial, Verdana, sans-serif;
  text-decoration: none;
  color: var(--blue-dark-color);
}

h2,
h3,
h4,
a,
form {
  font-family: "Ambit-Regular", Arial, Verdana, sans-serif;
  text-decoration: none;
  color: var(--blue-dark-color);
}

p,
select,
span {
  font-family: "TUIType-Regular", Arial, Verdana, sans-serif;
  color: var(--blue-dark-color);
  overflow-y: hidden;
}

button {
  font-family: "TUIType-Bold";
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 10px;
  cursor: pointer;
  overflow-y: hidden;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

#searching {
  display: grid;
  width: 100vw;
  height: auto;
  position: relative;
  margin-top: 70px;
}
#searching img {
  width: 100vw;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

#searching .search {
  width: 95%;
  max-width: 1500px;
  margin: auto auto;
  margin-top: -7rem;
  position: relative;
}
#searching .search ul {
  display: flex;
  margin-bottom: 0.5rem;
}
#searching .search li {
  padding: 1rem 2rem;
  background-color: var(--blue-light-color);
  transition: all ease 0.2s;
}
#searching .search li:hover {
  background-color: var(--blue-color);
}
#searching .search li a {
  font-family: "TUIType-Bold";
  text-transform: uppercase;
}
#searching .search li:first-child {
  background-color: var(--blue-color);
}
#searching .search li:first-child a {
  color: var(--red-color);
  border-bottom: 2px solid var(--red-color);
}
#searching .search h1 {
  font-size: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}
#searching .search h1 span {
  font-family: "TUIType-Bold";
  color: var(--red-color);
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--blue-color);
  border-radius: 10px;
}

input[type=text],
select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 0.9rem;
  background-color: var(--white-color);
  border: 2px solid var(--gray-light-color);
  border-radius: 10px;
  outline: none;
}
input[type=text]:focus,
select:focus {
  border-color: var(--gray-color);
}

input[type=checkbox]:checked {
  background-color: var(--blue-color);
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 1rem;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 10px;
  cursor: pointer;
  align-self: end;
  transition: all ease 0.3s;
}
button:hover {
  background-color: var(--blue-dark-color);
}
button .material-symbols-outlined {
  color: var(--white-color);
  margin-right: 0.5rem;
}

#searching .vakantietypes {
  text-align: center;
  background-color: var(--white-color);
  margin-top: 1rem;
}
#searching .vakantietypes ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searching .vakantietypes ul .arrow {
  transition: all ease 0.3s;
}
#searching .vakantietypes ul .arrow:first-child:hover {
  transform: translateX(-3px);
}
#searching .vakantietypes ul .arrow:hover {
  transform: translateX(3px);
}
#searching .vakantietypes li {
  display: inline-block;
  margin: 0rem 1rem;
}
#searching .vakantietypes li:hover, #searching .vakantietypes li:hover a, #searching .vakantietypes li:hover span {
  color: var(--blue-color);
}
#searching .vakantietypes li a:hover {
  text-decoration: none;
}
#searching .vakantietypes li .type {
  font-size: 18px;
}
#searching .vakantietypes li .number {
  font-size: 12px;
  color: var(--gray-color);
}
#searching .vakantietypes li, #searching .vakantietypes li a, #searching .vakantietypes li span {
  transition: all ease 0.3s;
}
#searching .vakantietypes span {
  display: block;
}
#searching .vakantietypes .line {
  width: 95%;
  height: 2px;
  max-width: 1500px;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--gray-light-color);
  display: block;
}

#resultaten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  max-width: 1500px;
  margin: auto;
  position: relative;
  margin-top: 3rem;
  padding: 1rem;
}
#resultaten ul.breadcrumbs {
  display: inline-flex;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
#resultaten ul.breadcrumbs li {
  display: inline-block;
  background-color: var(--gray-light-color);
  padding: 0.5rem 1rem;
}
#resultaten ul.breadcrumbs li a {
  display: flex;
  align-items: center;
}
#resultaten h2 {
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}
#resultaten h2 span {
  display: block;
  font-size: 1rem;
  color: var(--red-color);
}
#resultaten .filters {
  width: 400px;
}
#resultaten .filters article {
  background-color: var(--gray-light-color);
  margin-bottom: 1.5rem;
  /* slider related */
}
#resultaten .filters article h3 {
  position: relative;
  padding: 1rem;
  background-color: var(--blue-light-color);
  display: flex;
  align-items: center;
}
#resultaten .filters article h3 span:last-child {
  position: absolute;
  right: 1rem;
}
#resultaten .filters article p {
  text-align: center;
  margin-bottom: 1rem;
}
#resultaten .filters article .slider-container {
  padding: 1rem;
}
#resultaten .filters article .slider {
  width: 100%;
  height: 10px;
  background-color: var(--blue-light-color);
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#resultaten .filters article .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#resultaten .filters article .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#resultaten .filters article .slider-labels {
  display: flex;
  justify-content: space-evenly;
}
#resultaten .filters article .slider-labels span {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-family: "TUIType-Bold";
}
#resultaten .filters article .max-price {
  padding: 1rem;
}
#resultaten .filters article .max-price select {
  font-size: 1rem;
  margin-bottom: 1rem;
}
#resultaten .filters article .max-price select option:checked {
  font-family: "TUIType-Bold";
}
#resultaten .filters article .checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#resultaten .filters article .checkboxes div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
}
#resultaten .filters article .checkboxes input {
  display: inline-block;
  margin: 0;
}
#resultaten .filters article .checkboxes label {
  font-family: "Ambit-Regular";
  margin: 0 5px 0 10px;
}
#resultaten .filters article .checkboxes .meer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  transition: all ease 0.3s;
}
#resultaten .filters article .checkboxes .meer:hover,
#resultaten .filters article .checkboxes .meer span:hover {
  color: var(--blue-color);
  text-decoration: none;
}
#resultaten .filters article .checkboxes .meer span {
  transition: all ease 0.3s;
}
#resultaten .filters article .checkboxes .meer span:hover {
  color: var(--blue-color);
  transform: rotate(180deg);
}
#resultaten .filters article .checkboxes .info-icon {
  display: inline-block;
  text-decoration: none;
  cursor: help;
  transition: all ease 0.3s;
}
#resultaten .filters article .checkboxes .info-icon span {
  color: var(--gray-color);
}
#resultaten .filters article .checkboxes .info-icon:hover:before {
  content: attr(title);
  display: block;
  position: absolute;
  padding: 0.5rem;
  background-color: var(--white-color);
  color: var(--dark-blue-color);
  font-size: 0.8rem;
  border-radius: 0.25rem;
  z-index: 1;
  box-shadow: 1px 1px 3px black;
  transition: opacity 0.3s ease;
}
#resultaten .filters article .checkboxes-flight {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
#resultaten .filters article .checkboxes-flight .left div {
  font-size: 14px;
  padding-left: 1rem;
}
#resultaten .filters article .checkboxes-flight .left div:first-child {
  font-size: 1rem;
  padding-left: 0;
}
#resultaten .filters article .checkboxes-flight .left,
#resultaten .filters article .checkboxes-flight .right {
  width: 50%;
}
#resultaten .filters article .checkboxes-flight .right div {
  width: 100%;
}
#resultaten .vakantie-resultaten {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50%, 325px), 1fr));
  gap: 1rem;
  flex: 1;
  padding: 0rem 1rem;
}
#resultaten .vakantie-resultaten article {
  position: relative;
  border: solid 2px var(--gray-light-color);
  border-radius: 10px;
}
#resultaten .vakantie-resultaten article .overlay-image {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 325px;
}
#resultaten .vakantie-resultaten article .overlay-image .logo {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
#resultaten .vakantie-resultaten article .overlay-image .label {
  padding: 1rem;
  color: var(--white-color);
  background-color: var(--red-color);
  height: 50px;
}
#resultaten .vakantie-resultaten article .overlay-image span.heart {
  color: var(--blue-dark-color);
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  font-size: 2rem;
}
#resultaten .vakantie-resultaten article .overlay-image .circles {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1rem;
}
#resultaten .vakantie-resultaten article .overlay-image .circles .circle {
  bottom: 0;
  color: var(--white-color);
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 5px;
}
#resultaten .vakantie-resultaten article .overlay-image .circles .circle:first-child {
  color: var(--blue-color);
}
#resultaten .vakantie-resultaten article img {
  width: 100%;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}
#resultaten .vakantie-resultaten article p {
  display: flex;
  align-items: center;
}
#resultaten .vakantie-resultaten article a {
  font-family: "TUIType-Regular";
}
#resultaten .vakantie-resultaten article ul {
  padding: 1rem;
  margin-top: 1.1rem;
  background-color: var(--gray-light-color);
}
#resultaten .vakantie-resultaten article ul li {
  font-family: "Ambit-Regular";
  padding: 0.2rem 0rem;
  color: var(--blue-dark-color);
  display: flex;
  align-items: center;
}
#resultaten .vakantie-resultaten article ul li span {
  font-family: "TUIType-Regular";
  margin-left: 7px;
}
#resultaten .vakantie-resultaten article ul li .material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  margin-right: 10px;
  margin-left: 0px;
}
#resultaten .vakantie-resultaten article button {
  width: 100%;
  background-color: var(--yellow-color);
  border-radius: 0px 0px 10px 10px;
}
#resultaten .vakantie-resultaten article button:hover {
  background-color: var(--blue-dark-color);
}
#resultaten .vakantie-resultaten article .information {
  padding: 1rem;
}
#resultaten .vakantie-resultaten article .gray-information {
  bottom: 0;
  width: 100%;
}
#resultaten .vakantie-resultaten article .place {
  font-size: 14px;
  margin-bottom: 1rem;
}
#resultaten .vakantie-resultaten article .place span {
  color: var(--gray-color);
}
#resultaten .vakantie-resultaten article span.price {
  font-size: 1.7rem;
  font-family: "TUIType-Bold";
  color: var(--red-color);
  margin-right: 1.5rem;
}
#resultaten .vakantie-resultaten article span.price:before {
  content: "€";
}
#resultaten .vakantie-resultaten article span.grade {
  font-size: 1.5rem;
  font-family: "TUIType-Bold";
  margin-right: 5px;
}
#resultaten .vakantie-resultaten article span.grade:after {
  font-size: 1rem;
  content: "/10";
}
#resultaten .vakantie-resultaten article .thumb {
  margin-right: 1rem;
}
#resultaten .vakantie-resultaten article .star {
  color: var(--yellow-color);
  margin-right: 0rem;
}

@media only screen and (min-width: 768px) {
  .filters {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */