@import './color-scheme';
@import './footer';
@import './header';
@import './icons';
@import './variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    color: var(--blue-dark-color);
}

#searching {
    width: 100vw;
    height: auto;
    position: relative;
    margin-top: 70px;

    & img {
        width: 100vw;
        height: 220px;
        background-size: cover;
    }
}